body {
    font-family: "Inter", sans-serif;
    background-color: #E38E85;
    margin: 0;
}

.aboutUsAlles {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.block {
    padding: 40px 80px;
}

.block1,
.block3 {
    background-color: #F6CEC1;
}

.block2 {
    background-color: #E38E85;
}

.block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.aboutUsBild h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.titelbild img {
       border-radius: 20px;
    object-fit: cover;
}

img {
    border-radius: 20px;
}

.whoText {
    flex: 1;
}

.wer h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.aboutUsText {
    max-width: 550px;
}

.info {
    line-height: 1.6;
    font-size: 16px;
    opacity: 0.8;
    opacity: 0.6;
}

.block2 h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.infoText {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 30px auto;
    line-height: 1.6;
    font-size: 16px;
    opacity: 0.55;
}

.BilderInteressen {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.BilderInteressen img {
    width: 280px;
    height: 280px;
    object-fit: cover;
}

.unserStandortMitMap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.linksVonMap h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.untererTeil {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.untererTeil h4 {
    margin: 0;
}

.cta {
    margin-top: 15px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 999px;
    background-color: #E38E85;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.map {
    border-radius: 20px;
    border: none;
}


.block {
    padding: 30px 20px;
}

.block1,
.unserStandortMitMap {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.aboutUsText,
.infoText {
    max-width: 100%;
}

.titelbild img {
    width: 240px;
}

