body{
    background-color: #f6cec1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
    font-family: "Allura", cursive;

}

p{
    font-size: 20px;
}