body{
    background-color: #f6cec1;
    color: black;
    display: flex;
    flex-direction: column;
    
    
}

h1{
    font-size: 60px;
    font-family:"Inter", sans-serif;
    justify-content: center;

}

p{
    font-size: 20px;
}