body{
    background-color: #f6cec1;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
    font-family: 'Playfair Display', 'Georgia', serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
}

.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 70px;
    margin-bottom: 40px;
    width: 100%;
}

.profile-image-placeholder {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid black;
}

p{
    font-size: 20px;
    margin-bottom: 2%;
}

button{
    justify-content: left;
    align-items: start;
    font-size: 18px;
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #fda78f;
}

.header{
    width: 100%;
    max-width: 600px;
}

#lastname {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#lastname:hover {
    background-color: #fda78f;
}

#firstname{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#firstname:hover {
    background-color: #fda78f;
}

#email{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#email:hover {
    background-color: #fda78f;
}

#password{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#password:hover {
    background-color: #fda78f;
}

#message{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;   /* User kann sie nicht größer ziehen */
    transition: background-color 0.3s ease;
}

#message:hover {
    background-color: #fda78f;
}