@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #F6CEC1;
}

.home {
    font-family: 'Instrument Sans', sans-serif;
}

.homeContent {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: white;
}

.homeImage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    opacity: 0.63;
    z-index: 2;
}

.homeTextOverlay {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 80px 20px 20px 20px;
}

.homeSlogan {
    margin-top: 65px;
    font-family: "Italiana", sans-serif;
    font-size: 79px;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgba(217, 217, 217, 0.33);
    outline: #8A939C 3px solid;
    line-height: 110%;
    letter-spacing: -0.02em;
    border-radius: 30px;
    padding-bottom: 10px;
    margin-bottom: 3.3%;
}

.homeShopNow {
    line-height: 145%;
    letter-spacing: -0.005em;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    width: 160px;
    height: 60px;
    font-size: 22px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s;
    font-weight: SemiBold;
    margin-top: 5%;
}

.homeShopNow:hover {
    background-color: lightgrey;
}

.homeFooter {
    z-index: 1;
    display: flex;
    height: 500px;
    color: #000000;

}

.homeFooterRight {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.homeFooterLeft {
    width: 50%;
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-top: 50px;
}
    
#brandTitel,
#shopTitel,
#supportTitel {
    font-weight: 600;
}

#brandContent,
#shopContent,
#supportContent,
#floravisContent {
    opacity: 0.55;
}

.ttButton,
.instaButton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.instaImage,
.ttImage {
    width: 50px;
    height: 50px;
}

.brandInfo,
.shopInfo,
.supportInfo {
    width: 33.33%;
}
/*
* {
    outline: red 2px solid;
}