* {
    outline: 2px red solid;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color:#f6cec1;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.shoppingcart {
    background-color: white;
}