{% extends 'base.html' %} {% block title %}Über uns | Flor'Avis{% endblock %} {%
block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/aboutus.css') }}"
/>
<link
  rel="icon"
  href="{{ url_for('static', filename='images/ProfilbildLogo.png') }}"
  type="image/x-icon"
/>
{% endblock %} {% block content %}
<div class="aboutUsAlles">
  <div class="block block1">
    <div class="aboutUsBild">
      <h1>Flor'Avis</h1>
      <div class="titelbild">
        <img
          src="{{ url_for('static', filename='images/MainBildAbout (2).jpg') }}"
          alt="Flor'Avis soap"
          width="450"
          height="auto"
        />
      </div>
    </div>

    <div class="whoText">
      <div class="wer">
        <h2>Wer sind wir?</h2>
      </div>
      <div class="aboutUsText">
        <p class="info">
          Flor'Avis ist eine Schweizer Marke, gegründet von fünf 16-Jährigen mit einer gemeinsamen Vision:
          Hochwertige, handgemachte Seifen herzustellen. Was als Idee begann, hat sich zu einem Herzensprokjekt entwickelt.
          Wir produzieren unsere Seifen in kleinen Chargen- lokal, sorgfältig und mit viel Leidenschaft. 
          <br /><br />
          Jede Seife wird von uns selber entwickelt, getestet und von Hand hergestellt. Von der Auswahl von den Inhaltsstoffen bis zur Verpackung liegt jeder Schritt
          in unsere Verantwortung. Hinter jedem von unseren Produkten stehen wir mit stolz. Dabei setzen wir bewusst auf Qualität, anstelle von Massenproduktion. 
          <br /><br />
          Flor'Avis ist ein Jugendprojekt, aber wir nehmen unsere Arbeit ernst. Für uns bedeutet das Zuverlässigkeit, Sorgfalt und den Anspruch, uns stetig
          zu verbessern. Wir sind stolz auf das, was wir erreicht haben, und freuen uns darauf, unsere Leidenschaft für Seifen mit der Welt zu teilen.
        </p>
      </div>
    </div>
  </div>

  <div class="block block2">
    <h2>Unsere Werte</h2>
    <p class="infoText">
      Flor'avis steht für Verlässlichkeit, Leidenschaft und die Liebe zum Detail. Unser Fokus liegt auf hochwertigen Seife mit 
      natürlichen Inhaltsstoffen, wohltuende Pflege, elegantes Design und bewussteren Konsum. Unsere Seifen sind für Menschen gemacht, die Qualität schätzen und
      auf unnötige Zusatzstoffe verzichten möchten. Wir glauben daran, dass gute Seife nicht nur die Haut pflegt, sondern auch ein Erlebnis für die Sinne sein sollte. 
    </p>
    <div class="BilderInteressen">
      <img
        src="{{ url_for('static', filename='images/WhatsApp Image 2026-02-04 at 10.39.13 (1).jpeg') }}"
        alt="Soap image 2"
      />
      <img
        src="{{ url_for('static', filename='images/Seifenblock.jpg') }}"
        alt="Soap image 1"
      />
      <img
        src="{{ url_for('static', filename='images/WhatsApp Image 2026-02-04 at 10.39.12.jpeg') }}"
        alt="Soap image 3"
      />
    </div>
  </div>

  <div class="block block3">
    <div class="unserStandortMitMap">
      <div class="linksVonMap">
        <h3>Unser Standort</h3>
        <div class="untererTeil">
          <h4>Neue Hard 9</h4>
          <h4>8005 Zürich</h4>
          <h4>floravis05@gmail.com</h4>

          <a class="cta" href="{{ url_for('contact') }}"
            >Kontaktieren Sie uns</a
          >
        </div>
      </div>

      <iframe
        class="map"
        width="400"
        height="400"
        frameborder="0"
        scrolling="no"
        src="https://www.openstreetmap.org/export/embed.html?bbox=8.519570221530676%2C47.38674847878873%2C8.525%2C47.389&layer=mapnik&marker=47.3875%2C8.522"
      >
      </iframe>
    </div>
  </div>
</div>
{% endblock %}
