<!DOCTYPE html>
<html>
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"><title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
{% block head %}{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/warenkorb.css') }}">
</head>
<head><title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('warenkorb') }}">Warenkorb</a>
        <a href="{{ url_for('contact') }}">Contact & Support</a>
        <a href="{{ url_for('profil') }}">Profil</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
