<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
  </head>
  <body>
    <nav>
      <a href="{{ url_for('shop') }}">Shop</a>
      <a href="{{ url_for('about_us') }}">About Us</a>
      <a href="{{ url_for('contact') }}">Contact</a>
      <a href="{{ url_for('searchbar') }}">Searchbar</a>
      <a href="{{ url_for('warenkorb') }}">Warenkorb</a>
      <a href="{{ url_for('profil') }}">Profil</a>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
