{% extends 'base.html' %} {% block title %}Home | Flor'Avis{% endblock %} {%
block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/home.css') }}"
/>
<link
  rel="icon"
  href="{{ url_for('static', filename='images/ProfilbildLogo.png') }}"
  type="image/x-icon"
/>
{% endblock %} {% block content %}

<div class="home">
  <div class="homeContent">
    <img
      class="homeImage"
      src="{{ url_for('static', filename='styles/image/WebsiteChunkyCharcoalSoapBlock.png') }}"
      alt="Chunky Charcoal Soap"
    />

    <div class="homeTextOverlay">
      <div class="homeSlogan">
        Crafted with passion.<br />
        defined by purity
      </div>
      <a class="homeShopNow" href="{{ url_for('shop') }}">Jetzt einkaufen</a>
    </div>
  </div>

  <footer class="homeFooter">
    <div class="homeFooterRight">
      <p class="footerBrand">Flor’avis</p>
      <p class="footerTagline">Eine Revolution in der Seifenbranche</p>

      <div class="socialMedia">
        <a href="https://www.tiktok.com/@official.flor.avis" target="_blank">
          <img
            src="{{ url_for('static', filename='styles/image/tiktokLogo.webp') }}"
            alt="TikTok"
          />
        </a>
        <a href="https://www.instagram.com/official.flor.avis/" target="_blank">
          <img
            src="{{ url_for('static', filename='styles/image/instaLogo.png') }}"
            alt="Instagram"
          />
        </a>
      </div>
    </div>

    <div class="homeFooterLeft">
      <div class="footerColumn">
        <h4>Marke</h4>
        <ul class="footerList">
          <li>Warum Naturprodukte?</li>
          <li>Der Flor'avis Unterschied</li>
          <li>Keine schädlichen Inhaltsstoffe</li>
        </ul>
      </div>

      <div class="footerColumn">
        <h4>Shop</h4>
        <ul class="footerList">
          <li>Blockseife</li>
          <li>Bestseller</li>
          <li>Bundles</li>
          <li>Ankündigungen</li>
        </ul>
      </div>

      <div class="footerColumn">
        <h4>Support</h4>
        <ul class="footerList">
          <li>FAQ</li>
          <li>Kontakt</li>
          <li>Geschäftsbedingungen</li>
          <li>Versandrichtlinien</li>
        </ul>
      </div>
    </div>
  </footer>
</div>
{% endblock %}
