{% extends 'base.html' %}

{% block title %}Contact & Support{% endblock %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='styles/profil.css') }}">
{% endblock %}

{% block content %}
<div class="profile-header">
    <h1>Profile</h1>
    <div class="profile-image-placeholder"></div>
</div>

<form action="{{ url_for('profil') }}" method="post">
<div class="header">

    <p>Name</p>
    <input id="lastname" name="lastname" rows="1" cols="100"></input>

    <p>Vorname</p>
    <input id="firstname" name="firstname" rows="1" cols="100"></input>

    <p>E-Mail</p>
    <input id="email" name="email" rows="1" cols="100"></input>

    <p>Passwort</p>
    <input id="password" name="password" rows="1" cols="100"></input>
</div>

<button type="submit">Absenden</button>
</form>

{% endblock %}
