{% extends 'base.html' %}

{% block title %}Warenkorb{% endblock %}

{% block content %}
    <h1 class="title">shopping cart</h1>
    <hr class="section-line">
    <div class="shoppingcart-header">
        <div class="title-shoppingcart">Shopping cart</div>
        <div class="title-shoppingcart-description">You have 3 items in your cart</div>
    </div>
    <div class="shoppingcart">
        <div class="item">
            <img class="image" src="../static/styles/images/seife.png" alt="Seife 1">
            <div class="shoppingcart-Itemname">Flor'avis Green Apple soap</div>
            <div class="count">1</div>
            <div class="count-button">
                <button class="count-button-button"><img class="picture-up"
                                                         src="../static/styles/images/count-dreieck.png" alt="">
                </button>
                <button class="count-button-down"><img class="picture-down"
                                                       src="../static/styles/images/count-dreieck.png" alt=""></button>
            </div>
            <div class="price">CHF 234</div>
            <div class="delete-buttons">
                <button class="delete-button-button"><img class="delete-img" src="../static/styles/images/Bild2.png"
                                                          alt="Löschen"></button>
            </div>
        </div>
        <div class="item">
            <img class="image" src="../static/styles/images/seife.png" alt="Seife 1">
            <div class="shoppingcart-Itemname">Flor'avis Vanilla soap</div>
            <div class="count">1</div>
            <div class="count-button">
                <button class="count-button-button"><img class="picture-up"
                                                         src="../static/styles/images/count-dreieck.png" alt="">
                </button>
                <button class="count-button-down"><img class="picture-down"
                                                       src="../static/styles/images/count-dreieck.png" alt=""></button>
            </div>
            <div class="price">CHF 234</div>
            <div class="delete-buttons">
                <button class="delete-button-button"><img class="delete-img" src="../static/styles/images/Bild2.png"
                                                          alt="Löschen"></button>
            </div>
        </div>
        <div class="item">
            <img class="image" src="../static/styles/images/seife.png" alt="Seife 1">
            <div class="shoppingcart-Itemname">Flor'avis Lemon soap</div>
            <div class="count">1</div>
            <div class="count-button">
                <button class="count-button-button"><img class="picture-up"
                                                         src="../static/styles/images/count-dreieck.png" alt="">
                </button>
                <button class="count-button-down"><img class="picture-down"
                                                       src="../static/styles/images/count-dreieck.png" alt=""></button>
            </div>
            <div class="price">CHF 234</div>
            <div class="delete-buttons">
                <button class="delete-button-button"><img class="delete-img" src="../static/styles/images/Bild2.png"
                                                          alt="Löschen"></button>
            </div>
        </div>
    </div>
    <hr class="section-line">
    <form method="POST" action="/warenkorb">
        <div class="addres-card-container">

            <div class="addres-details">
                <div class="addres-details-title">Adress Details</div>
                <div class="salutation">Anrede</div>

                <div class="salutation-buttons">
                    <label class="salutation-box">
                        <input type="radio" name="salutation" value="herr">
                        <span class="salutation-button"></span>
                        <span class="salutation-text">Herr</span>
                    </label>

                    <label class="salutation-box">
                        <input type="radio" name="salutation" value="frau">
                        <span class="salutation-button"></span>
                        <span class="salutation-text">Frau</span>
                    </label>

                    <label class="salutation-box">
                        <input type="radio" name="salutation" value="keine">
                        <span class="salutation-button"></span>
                        <span class="salutation-text">Keine Angabe</span>
                    </label>
                </div>

                <div class="name">Name</div>
                <label>
                    <input class="name-input" type="text" name="name" placeholder="Name">
                </label>
                <div class="surname">Vornamen</div>
                <label>
                    <input class="surname-input" type="text" name="surname" placeholder="Vorname">
                </label>
                <div class="addres">Strasse + Nr.</div>
                <label>
                    <input class="addres-input" type="text" name="address" placeholder="Strasse + Nr.">
                </label>
                <div class="ortplz">
                    <div class="place-flex">
                        <div class="place">PLZ</div>
                        <label>
                            <input
                                    class="place-input"
                                    type="text"
                                    name="plz"
                                    inputmode="numeric"
                                    maxlength="4"
                                    placeholder="8000"
                            >
                        </label>
                    </div>
                    <div class="city-flex">
                        <div class="city">Ort</div>
                        <label>
                            <input class="city-input" type="text" name="city" placeholder="Ort">
                        </label>
                    </div>
                </div>
                <div class="tel">Telefonnummer</div>
                <label>
                    <input class="tel-input" type="tel" name="tel" placeholder="Tel. Nr.">
                </label>
                <div class="email">E-Mail</div>
                <label>
                    <input
                            class="email-input"
                            type="email"
                            name="email"
                            placeholder="name@example.com"
                            autocomplete="email"
                    >
                </label>
            </div>

            <div class="card-details">
                <div class="card-details-title">Card Details</div>

                <div class="payment-methods">Payment Methods</div>

                <div class="payment-methods-buttons">
                    <label class="payment-method">
                        <input type="radio" name="payment" value="mastercard">
                        <span class="payment-methods-button">
                            <img class="payment-methods-img" src="../static/styles/images/mastercard_floravis.png" alt="Mastercard">
                        </span>
                    </label>

                    <label class="payment-method">
                        <input type="radio" name="payment" value="visa">
                        <span class="payment-methods-button">
                            <img class="payment-methods-img" src="../static/styles/images/visa_floravis.png" alt="Visa">
                        </span>
                    </label>

                    <label class="payment-method">
                        <input type="radio" name="payment" value="twint">
                        <span class="payment-methods-button">
                            <img class="payment-methods-img" src="../static/styles/images/twint_floravis.png" alt="Twint">
                        </span>
                    </label>

                    <label class="payment-method">
                        <input type="radio" name="payment" value="paypal">
                        <span class="payment-methods-button">
                            <img class="payment-methods-img" src="../static/styles/images/paypal_floravis.png" alt="Paypal">
                        </span>
                    </label>
                </div>


                <div class="card-name">Name on Card</div>
                <label>
                    <input class="name-input" type="text" name="card_name" placeholder="Name">
                </label>

                <div class="card-number">Card Number</div>
                <label>
                    <input
                            class="card-number-input"
                            type="text"
                            name="card_number"
                            inputmode="numeric"
                            maxlength="19"
                            placeholder="1234 5678 9012 3456"
                    >
                </label>

                <div class="date-cvv">
                    <div class="date-flex">
                        <div class="date">Expiration Date</div>
                        <label>
                            <input
                                    class="date-input"
                                    type="text"
                                    name="expiration"
                                    inputmode="numeric"
                                    maxlength="5"
                                    placeholder="MM/YY"
                            >
                        </label>
                    </div>
                    <div class="cvv-flex">
                        <div class="cvv">CVV</div>
                        <label>
                            <input
                                    class="card-input"
                                    type="text"
                                    name="cvv"
                                    inputmode="numeric"
                                    autocomplete="cc-csc"
                                    placeholder="CVV"
                                    maxlength="4"
                            >
                        </label>
                    </div>
                </div>

                <div class="txt">Subtotal</div>
                <div class="txt">Shipping</div>
                <div class="txt">Total (Tax incl.)</div>
                <button type="submit" class="checkout-button">
                    Checkout
                    <span class="arrow">→</span>
                </button>


            </div>

        </div>
    </form>

    <script>
        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault();

            const formData = new FormData(this);

            fetch('/warenkorb', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    // Alle Textfelder leeren
                    this.querySelectorAll('input[type="text"], input[type="email"], input[type="tel"]').forEach(input => {
                        input.value = '';
                    });

                    // Alle Radio-Buttons deselektieren
                    this.querySelectorAll('input[type="radio"]').forEach(radio => {
                        radio.checked = false;
                    });

                    alert('Checkout erfolgreich!');
                }
            })
            .catch(error => {
                console.error('Fehler:', error);
            });
        });
    </script>
{% endblock %}